<html>
<head>
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.container {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 15px;
}

label {
    color: #6a0dad; 
    font-weight: bold;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d3d3d3; 
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6a0dad; 
    outline: none;
}

input[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6a0dad; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #5b0c9e; 
}


a {
    color: #6a0dad; 
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: #6a0dad; 
}
.form-button {
  width: 100%;
  padding: 12px; 
  background-color: #6f42c1; 
  color: white; 
  border: none;
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}
</style>
</head>
<body>
<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" ,class: "form-button"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</body>
</html